<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

   <div>
     <%= user_actions(current_user) %>
  </div>

      <% flash.each do |name,msg| %>
      <%= content_tag :div, msg, id: "flash_#{name}" %>
      <% end %>

    <%= yield %>
  </body>
</html>
